body {
    background-color: #f1f1f1;
}

.shop {
    overflow: hidden;
    padding-top: 30px;
}

.container-img {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 100%;
}

.img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.description {
    margin: 15px 10px;
    text-align: center;
}

.description p {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.container-product {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: var(--box-shadow);
}

.container-product:hover {
    border-color: var(--blue);
}

.container-product:hover .img{
    transform: scale(1.1);
    transition: all .3 linear;
}

.name {
    text-transform: uppercase;
}

.control {
    display: flex;
    justify-content: space-around;
}

.icon {
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 100%;
    transition: all .3s linear;
}

.icon:hover {
    transform: scale(1.2);
}

.icon-eye {
    background-color: var(--blue);
}

.icon-cart {
    background-color: var(--red);
}

.heading {
    padding: 15px 0;
    border-radius: 10px;
    background-color: #ccc;
    text-align: center;
}

.title {
    text-transform: uppercase;
}

.navigator {
    padding: 0;
    /* padding-right: 30px; */
    margin-top: 114px;
    position: fixed;
    border-right:.5px #ccc solid;
    top: 0;
    bottom: 0;
    list-style: none;
}

.nav-item {
    margin-top: 15px;
    margin-right: 15px;
}

.nav-item a {
    text-transform: uppercase;
    color: var(--black);
}

.nav-item a:hover {
    color: var(--blue);
}